################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Practice/.vs/Practice/v15
/.vs
/.vs
/.vs/Practice/v15
/.vs/VSWorkspaceState.json
/.vs
